/**
 * 定义全局变量
 */
$minColor = #22BB77
$minColor_b = #5472EA
$xxColor = #11AA66
$bgColor_1 = #F6F8FF
$bgColor_2 = rgba(250, 250,255,.5)
$btnColor = #EFF3FF
$green_1_Color = #5DD095
$red_1 = #E43939
$border_b = 0 1px 1px -1px rgba(0, 0, 0, 0.5)


$inp_shadow = 1px 1px 3px rgba(0,0,0,.1),-1px -1px 3px rgba(0,0,0,.1)
